body{
    background-color:#fef2e5;
    margin: 0;
}
.header{
    position: fixed; 
    width: 100%;
    height: 7%;
    background-color:#fef2e5;
    padding: 20px 0 0 25px;
    z-index: 1000;
    top: 0 ;
}
#name{
    padding-right: 40%;
    font-family: Mulish-LightItalic;
    font-size: 22px;
}
@font-face {
    font-family: Mulish-LightItalic;
    src: url(../fonts/Mulish-LightItalic.ttf);
}
@font-face {
    font-family: qoute ;
    src: url(../fonts/qoute.ttf);
}
@font-face {
  font-family: "italic";
  src: url(../fonts/QTOptimum-Italic.otf);
}
a{
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 15px;
   
}
#inst2{
    position: relative;
    top: 5px;
}

a {
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.6s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.6s cubic-bezier(0.2, 0, 0, 1);
    z-index: 1;
  }
  a:after {
    content: '';
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
    left: 1.25rem;
    background-color: #a48667;
    opacity: 0.4;
    z-index: -1;
  }
  a:hover {
    color: #fef2e5;
    font-weight: bold
  }
  a:hover:after {
    right: 0;
    left: 0;
    height: 100%;
  }

.description{
    text-align: center;
    width: 35%;
    margin: 0 auto;
    margin-top: 100px;
}

p{
    font-family: 'Times New Roman', Times, serif; 
    font-size: 17px;
    line-height: 1.5;
    color:rgb(61, 61, 61);
}
.text1{
    position: relative;
    font-family: "italic";
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}
.feedback-form.hide {
    display: none;
}
.feedback-form  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
    width: 400px;
    height: 400px;
    background-color: black;
    transform: translate(-50%, -50%)
}
.layout { 
    width: 980px; 
    margin: auto; 
    position: relative;
}
.feedback1,.feedback2,.feedback3{
    position: absolute;
    text-align: center;
    margin: 20px;
    width: 200px;
}
.feedback2 {  
    left: 38%;
}
.feedback3 { 
    right: 0;
}
.text2{
    font-size: 20px;
}